[flake8]
max-line-length = 88
max-complexity = 42
ignore =
  D100	# Missing docstring in public module
  D101	# Missing docstring in public class
  D102	# Missing docstring in public method
  D103	# Missing docstring in public function
  D104	# Missing docstring in public package
  D105	# Missing docstring in magic method
  D106	# Missing docstring in public nested class
  D107	# Missing docstring in __init__
  D403  # First word of the first line should be properly capitalized
  D412  # No blank lines allowed between a section header and its content
  W503  # line break before binary operator
  D205  # [pydocstyle] 1 blank line required between summary line and description
  D400  # [pydocstyle] First line should end with a period
  S404  # Consider possible security implications associated with the subprocess module.
  S603  # subprocess call - check for execution of untrusted input.
  D401  # [pydocstyle] First line should be in imperative mood
  S101  # use of assert

per-file-ignores =
  *tests/*:D205,D400,D401,S101,S106,E501,E731
  */migrations/*:E501
  */settings.py:F403,F405
  */settings/*:F403,F405
  */compat.py:F401
