[flake8]
max-line-length = 120
max-complexity = 8
# http://flake8.pycqa.org/en/2.5.5/warnings.html#warning-error-codes
ignore =
  # pydocstyle - docstring conventions (PEP257)
  D100	# Missing docstring in public module
  D101	# Missing docstring in public class
  D102	# Missing docstring in public method
  D103	# Missing docstring in public function
  D104	# Missing docstring in public package
  D105	# Missing docstring in magic method
  D106	# Missing docstring in public nested class
  D107	# Missing docstring in __init__
  D403  # First word of the first line should be properly capitalized
  D412  # No blank lines allowed between a section header and its content
  # pycodestyle - style checker (PEP8)
  W503  # line break before binary operator
  # the following are ignored in CI using --extend-ignore option:
  D205  # [pydocstyle] 1 blank line required between summary line and description
  D400  # [pydocstyle] First line should end with a period
  S404  # Consider possible security implications associated with the subprocess module.
  S603  # subprocess call - check for execution of untrusted input.
  ; D401  # [pydocstyle] First line should be in imperative mood
  ; S308  # [bandit] Use of mark_safe() may expose cross-site scripting vulnerabilities and should be reviewed.
  ; S703  # [bandit] Potential XSS on mark_safe function.
  C901  # too complex

per-file-ignores =
  ; D205 - 1 blank line required between summary line and description
  ; D400 - First line should end with a period
  ; D401 - First line should be in imperative mood
  ; S101 - use of assert
  ; S106 - hard-coded password
  ; E501 - line-length
  ; E731 - assigning a lambda to a variable
  *tests/*:D205,D400,D401,S101,S106,E501,E731
  */migrations/*:E501
  ; F403 - unable to detect undefined names
  ; F405 - may be undefined, or defined from star imports
  */settings.py:F403,F405
  */settings/*:F403,F405
  */compat.py:F401
